{% extends 'frontBase.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block content %}
   <section id="tournaments-section" class="pt-120 tournaments">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
            <div class="col-sm-5 col">
                            <a class="back-home" href="{{path('app_afficherFront_Event')}}">
                                <img src="{{ asset("front/images/left-icon.png")}}" alt="image">
                               Evenements
                            </a>
                        </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="section-header">
                            <h2 class="title">Evenements de Gaming</h2>
                            <p>Trouvez plusieurs evenements de gaming! </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-40 mp-none">
                    <div class="col-lg-3 col-md-3">
                        <div class="single-input">
                           
                           <span><a href="{{path('app_sortByDate')}}" class="cmn-btn-second" >Trier par Date Debut</a></span>
                                
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="single-input">
                       <span><a href="{{path('app_sortByNbrP')}}" class="cmn-btn-second" >Trier par Nbr places</a></span>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="single-input">
                       <span><a href="{{path('app_sortByName')}}" class="cmn-btn-second" >Trier par Nom Event</a></span>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="single-input">
                        <span><a href="{{path('app_sortPrix')}}" class="cmn-btn-second" >Trier par Prix Ticket</a></span>

                        </div>
                    </div>
                </div>
               
                {% for e in listEvents %}     
                 
                <div class="single-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 d-flex align-items-center">
                          
                            <img class="top-img" src="{{ asset('esfiles/afficheEvent/'~e.AfficheE) }}" alt=src="{{ asset('esfiles/afficheEvent/'~e.AfficheE) }}"
                             style="width:200px;height:300px ">
                        </div>
                        <div class="col-lg-6 col-md-9 d-flex align-items-center">
                            <div class="mid-area">
                                <h4>{{ e.getNomEvent() }}</h4>
                                <div class="title-bottom d-flex">
                                
                                    <div class="time-area bg">
                                       <div>
                                        <img src="{{ asset("front/images/waitng-icon.png") }}" alt="image">
                                        <span>Date de début</span>
                                        <span class="time"  >{{  e.DateDebutE.format('d/m/Y h:m:s') }}</span>
                                       </div>
                                       <div> 
                                         <img src="{{ asset("front/images/waitng-icon.png") }}" alt="image">
                                        <span>Date de Fin</span>
                                        <span class="time" >{{  e.DateFinE.format('d/m/Y h:m:s') }}</span>
                                        </div>
                                    </div>
                                    
                                     <div class="time-area bg">
                                        <img src="{{ asset("front/images/waitng-icon.png") }}" alt="image">
                                        <span>commence en:</span>
                                   
                                         <p id="dateEvent" >{{  e.DateDebutE.format('d/m/Y h:m:s') }}</p>
                                     
                                        <script>
                                      
                                             // Set the date we're counting down to
                                     
                        
                                           var countDownDate = JSON.parse(JSON.stringify(new Date( document.getElementById("dateEvent").innerHTML).getTime())); 
                                           console.log(countDownDate) 
                                        
                                            // Update the count down every 1 second
                                            var x = setInterval(function() {
                                              
                                            // Get today's date and time
                                            var now = new Date().getTime();
                                          
                                            // Find the distance between now and the count down date
                                              
                                            var distance = countDownDate - now;
                                           
                                            // Time calculations for days, hours, minutes and seconds
                                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                            // Display the result in the element with id="demo"
                                            document.getElementById("dateEvent").innerHTML = days + "d " + hours + "h "
                                            + minutes + "m " + seconds + "s ";

                                            // If the count down is finished, write some text
                                            if (distance < 0) {
                                                clearInterval(x);
                                                document.getElementById("dateEvent").innerHTML = "EXPIRED";
                                            }
                                            }, 1000);
                                        
                                        </script>
                                    
                                    </div>
                                   
                                </div>
                                <div class="single-box d-flex">
                                    <div class="box-item">
                                        <span class="head">Places disponibles</span>
                                        <span class="sub">{{  e.nbrPlaces }} </span>
                                    </div>
                                    <div class="box-item">
                                        <span class="head">Lieu</span>
                                        <span class="sub">{{  e.lieu }} </span>
                                    </div>
                                    <div class="box-item">
                                        <span class="head"><a href="{{path('app_afficherFront_Sponsor',{ e:e.id()})}}" class="col-lg-11">Les sponsors de cet evenement</a></span>
                                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-center">
                            <div class="prize-area text-center">
                                <div class="contain-area">
                                    <span class="prize"><img src="{{ asset("front/images/price-coin.png") }}" alt="image">Prix Ticket</span>
                                    <h4 class="dollar">{{  e.PrixTicket }}DNT</h4>
                                    <a href="{{path('app_notif',{ id:e.id()})}}" class="cmn-btn">S'inscrire</a>
                                    <p>{{  e.DescriptionEvent }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
