  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-lg-6">
         <div class="card">
           <div class="card-body">
           <div class="card-title"> Blog </div>
           <hr>
           {{ form_start(form) }}
           <div class="form-group">
          {{ form_label (form.Titre,"Titre") }}
                      {{ form_widget (form.Titre,{'attr':{'class':'form-control form-control-rounded'}}) }}
           </div>
           <div class="form-group">
        {{ form_label (form.Contenu,"Contenu") }}
                      {{ form_widget (form.Contenu,{'attr':{'class':'form-control form-control-rounded'}}) }}
           </div>
           <div class="form-group">
            
                       {{ form_label (form.Image,"Image") }}
                      {{ form_widget (form.Image,{'attr':{'class':'form-control form-control-rounded'}}) }}
           </div>
           <div class="form-group">
           {{ form_label (form.user,"Username") }}
             {{ form_row(form.user) }}
           </div>
            </div>
           </div>
                <button class="btn btn-light px-5"> {{ button_label|default('Save') }}</button>
          {{ form_end(form) }}
         </div>
         </div>
      </div>

