{% extends 'backBase.html.twig' %}

{% block content %}
<button class="btn btn-info btn-xs" style="position:absolute;top:80px;right:2%;"><a class="fa fa-home" href="{{ path('app_afficherBlog') }}"> back to list
                   </a> </button>
     <br>
    <br>
<div class="col-lg-5">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">    <h3 align="center">Blog</h3>
              <br>
			  <div class="table-responsive">
                <table class="table">
   
        <tbody align="center">
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog.Titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ blog.Contenu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('userpic/'~blog.image) }}" alt="avatar"
                            style="width:200px ;height:200px"></td>
            </tr>
        </tbody>
    </table>
              </div>
        </div>
      </div>
    <button class="btn"><a class="fa fa-pencil" href="{{ path('app_blog_edit', {'id': blog.id}) }}"> Edit</a> </button>
    <form method="post" action="{{ path('app_blog_delete', {'id': blog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
    <button class="btn"> <a class="fa fa-trash"> Delete</a>

</form>
{% endblock %}
