
<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from pixner.net/begam/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 10:33:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arcade | {% block title %}{% endblock %} </title>

    <link rel="shortcut icon" href="{{ asset("front/images/fav.png") }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset("front/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/fontawesome.min.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/slick.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/magnific-popup.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/nice-select.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/animate.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/style.css") }}">
    {% block css %}{% endblock %}
</head>

<body>

    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->

    <a href="#" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>

    <!-- header-section start -->
    <header id="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <div class="logo-section flex-grow-1 d-flex align-items-center"><div><br>
                        <a class="site-logo site-title" href="index-2.html"><img style="width:170px;height:90px" src="{{ asset('front/images/arcade.png') }}"
                                alt="site-logo"></a></div>
                    </div>
                    <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <nav class="navbar navbar-expand-lg p-0">
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li><a href="index-2.html">Home</a></li>
                                <li class="menu_has_children"><a href="#0">Tournois</a>
                                    <ul class="sub-menu">
                                        <li><a href="tournaments.html">Tournois</a></li>
                                        <li><a href="tournaments-single.html">Jeux</a></li>
                                    </ul>
                                </li>
                                <li class="menu_has_children"><a href="{{ path('app_afficherCategorieFront') }}"> Magasin</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('app_afficherCategorieFront') }}">Categories</a></li>
                                        <li><a href="">Panier</a></li>
                                        <li><a href="">Commandes</a>
                                        </li>
                                        <li><a href="">WishList</a></li>
                                </ul>
                            </li>
                                <li><a href="">evenements</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="right-area header-action d-flex align-items-center">
                        <div class="search-icon">
                            <a href="#"><img src="{{ asset('front/images/search_btn.png')}}" alt="icon"></a>
                        </div>
                        <div class="lang d-flex align-items-center">
                            <select>
                                <option value="1">EN</option>
                                <option value="2">BN</option>
                                <option value="3">ES</option>
                                <option value="4">NL</option>
                            </select>
                        </div>
                        <a href="login.html" class="login-btn">Login</a>
                        <a href="registration.html" class="cmn-btn">Join Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->

{% block content %}{% endblock %}

    <!-- footer-section start -->
    <footer id="footer-section">
        <div class="footer-mid pt-120">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-8 col-md-8 d-flex justify-content-md-between justify-content-center align-items-center cus-grid">
                        <div class="logo-section">
                            <a class="site-logo site-title" href="index-2.html"><img style="weight:100px;width:180px" src="{{ asset('front/images/arcade.png') }}" alt="site-logo"></a>
                            
                        </div>
                        <ul class="menu-side d-flex align-items-center">
                            <li><a href="index-2.html" class="active">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="right-area">
                            <ul class="d-flex">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="main-content">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-6">
                            <div class="left-area text-center">
                                <p>Copyright © 2021. All Rights Reserved By
                                    <a href="#">BEGAM</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-section end -->

<script src="{{ asset("front/js/jquery-3.5.1.min.js") }}"></script>
<script src="{{ asset("front/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("front/js/slick.js") }}"></script>
<script src="{{ asset("front/js/jquery.nice-select.min.js") }}"></script>
<script src="{{ asset("front/js/fontawesome.js") }}"></script>
<script src="{{ asset("front/js/jquery.counterup.min.js") }}"></script>
<script src="{{ asset("front/js/jquery.waypoints.min.js") }}"></script>
<script src="{{ asset("front/js/jquery.magnific-popup.min.js") }}"></script>
<script src="{{ asset("front/js/wow.js") }}"></script>
<script src="{{ asset("front/js/main.js") }}"></script>
    {% block js %}{% endblock %}
</body>
</html>