{% extends 'backBase.html.twig' %}
{% block title %}Categories{% endblock %}
{% block content %}

<div class="card-body">
           <div class="card-title"><h2>Formulaire Categorie</h2></div>
           <hr>
            {{ form_start(formCategorie,{'attr': {'novalidate': 'novalidate'}} ) }}
            <form>
                <div class="form-group">
                    {{ form_label (formCategorie.nomCategorie,"Nom Categorie") }}
                    {{ form_widget (formCategorie.nomCategorie,{'attr':{'class':'form-control form-control-rounded'}}) }}
                    {{ form_errors (formCategorie.nomCategorie) }}
                </div>
                <div class="form-group">
                    {{ form_label (formCategorie.description,"Description") }}
                    {{ form_widget (formCategorie.description,{'attr':{'class':'form-control form-control-rounded'}}) }}
                    {{ form_errors (formCategorie.description) }}
                </div>
                <div class="form-group">
                    {{ form_label (formCategorie.image,"Image") }}
                    {{ form_widget (formCategorie.image,{'attr':{'class':'form-control form-control-rounded'}}) }}
                    {{ form_errors (formCategorie.image) }}
                </div>
                <div class="form-group py-2">
                    {{ form_label (formCategorie.isEnabled,"Etat") }}                    
                        {{ form_widget (formCategorie.isEnabled,{'attr':{'class':''}}) }}
                </div>
           </div>
                <div class="form-group">
                        {{ form_row (formCategorie.Modifier,{'attr':{'class':'btn btn-success'}} )}}
                </div>
                    {{form_rest (formCategorie)}}
            </form>
                {{ form_end (formCategorie)}}
            <div>
                <a href="{{ path('app_afficherCategorie') }}">back to list</a>
            </div>
         </div>
</div>

{% endblock %}