{% extends 'frontBase.html.twig' %}
{% block content %}
<!-- Browse Tournaments start -->
    <section id="tournaments-section">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 text-center">
                       
                         <a href="{{ path('app_ajouterSeancecoaching') }}">
                    <button type="button" class="btn btn-info btn-xs"
                            style="position:absolute;top:15px;right:3%;">Ajouter une Seance
                    </button>
                </a>
                    </div>
                    

                </div>
               <br>
                  <input type="text" class="recherche">

                 <div class="row mb-40 mp-none">
                 
                    
                    
                   
                </div>
                {% for Se in Seancecoaching %}
                <div class="single-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 d-flex align-items-center">
                        {% set images = Se.imageSeance| trim('*') | split("*") %}
                          <picture>
                                                {% for imageSeance in images %}
                                                    <img class="top-img" src="{{ asset('imagesnada/'~imageSeance) }}" alt="imageSeance"
                                                         style="width:200px ;margin-bottom:30%">

                                                {% endfor %}

                                            </picture>        
                         </div>
                        <div class="col-lg-6 col-md-9 d-flex align-items-center">
                            <div class="mid-area">
                                <h4><a  href="{{ path('app_detailSeancecoachingfront',{'id':Se.id }) }}">{{Se.getTitreSeance()}}</a></h4>
                                <div class="title-bottom d-flex">
                                    <div class="time-area bg">
                                        
                                        <span>DEBUTE</span>
                                        <span class="time">{{Se.getDateDebutSeance()| date}}</span>
                                    </div>
                                    <div class="time-area bg">
                                        
                                        <span>SE TERMINE</span>
                                        <span class="time">{{Se.getDateFinSeance()| date}}</span>
                                    </div>
                                </div>
                                <div class="single-box d-flex">
                            
                                        <span class="sub">{{Se.getdescriptionSeance()}}</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-center">
                            <div class="prize-area text-center">
                                <div class="contain-area">
                                    <h4 class="dollar">{{ Se.getprixSeance() }} dt</h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            $('.recherche').keypress(function () {
                $.ajax({
                    url:   "{{ path('rechercheSeancecoaching') }}",
                    type:'GET',
                    dataType: 'JSON',
                    data:{'evenm':$(this).val() },
                    async: true,
                    success:function (data) {
                       $('#evt').html("");
                       for(var i=0;i<data.length;i++){
                           $('#evt').append("<tr>  <td>"+data[i].id+" </td>  <td>"+data[i].dateDebutSeance+" </td>  <td>"+data[i].dateFinSeance+" </td>  <td>"+data[i].prixSeance+" </td>  <td>"+data[i].descriptionSeance+" </td>  <td>"+data[i].imageSeance+" </td>  <td>"+data[i].titreSeance+" </td>   </tr>")
                       }
                    },
                    error: function (xhr, textStatus,errorThrown) {
                        alert("error");
                    }
                })
            });
        });
    </script>

{% endblock %}

                
            </div>
        </div>
        {# {% block js %}
<script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/sprinkle.js"></script>
<script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/jquery-ui-personalized-1.5.2.packed.js"></script>
            {% endblock %}
             #}
    </section>

{% endblock %}
