{% extends 'frontBase.html.twig' %}
{% block content %}
<!-- Browse Tournaments start -->
    <section id="tournaments-section">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8 text-center">
                       
                         <a href="{{ path('app_ajouterSeancecoaching') }}">
                    <button type="button" class="btn btn-info btn-xs"
                            style="position:absolute;top:15px;right:3%;">Ajouter une Seance
                    </button>
                </a>
                    </div>
                    

                </div>
               <br>
                 <div class="row mb-40 mp-none">
                 
                   
                    
                   
                </div>
                {% for Se in Seancecoaching %}
                <div class="single-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 d-flex align-items-center">
                        {% set images = Se.imageSeance| trim('*') | split("*") %}
                          <picture>
                                                {% for imageSeance in images %}
                                                    <img src="{{ asset('imagesnada/'~imageSeance) }}" alt="imageSeance"
                                                         style="width:100px ;margin-bottom:20%">

                                                {% endfor %}

                                            </picture>        
                         </div>
                        <div class="col-lg-6 col-md-9 d-flex align-items-center">
                            <div class="mid-area">
                                <h4><a  href="{{ path('app_detailSeancecoachingfront',{'id':Se.id }) }}">{{Se.getTitreSeance()}}</a></h4>
                                <div class="title-bottom d-flex">
                                    <div class="time-area bg">
                                        
                                        <span>DEBUTE</span>
                                        <span class="time">{{Se.getDateDebutSeance()| date}}</span>
                                    </div>
                                    <div class="time-area bg">
                                        
                                        <span>SE TERMINE</span>
                                        <span class="time">{{Se.getDateFinSeance()| date}}</span>
                                    </div>
                                </div>
                                <div class="single-box d-flex">
                            
                                        <span class="sub">{{Se.getdescriptionSeance()}}</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-center">
                            <div class="prize-area text-center">
                                <div class="contain-area">
                                    <h4 class="dollar">{{ Se.getprixSeance() }} dt</h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Browse Tournaments end -->

            {% endblock %}
